.topics--wrap {
		padding: 4rem 0;
		&__title {
				margin-top: 0;
		}
}

.topics--item {
		&:first-of-type {
				border-top: 1px dotted $dark-gray;
		}
		border-bottom: 1px dotted $dark-gray;
		padding: 1rem;
		p {
				display: inline-block;
				margin: auto 1rem;
		}
}

.topics--category {
		padding: 5px 10px;
		background-color: $dark-gray;
		color: #FFF;
}