.accordion--title {
		position: relative;
		padding: 1rem 2rem;
		color: $black;
		background-color: rgba(#000, .1);
		cursor: pointer;
		margin-bottom: 0;
		z-index: 5;
}

.accordion--icon {
		position: absolute;
		right: 2rem;
		top: 50%;
		transform: translateY(-75%) rotate(-45deg);
		width: 1.5rem;
		height: 1.5rem;
		border: 1px solid;
		border-color: transparent transparent $black $black;
		transition: .6s cubic-bezier(0.080, 1.090, 0.320, 1.275);
		z-index: 1;
		.is-open & {
				transform: translateY(-25%) rotate(-225deg);
		}
}

.accordion--content__wrap {
		opacity: 0;
		padding: 1rem;
		margin-top: -2rem;
		height: 2rem;
		transition: 350ms cubic-bezier(0.080, 1.090, 0.320, 1.275);
		background-color: #FAFAFA;
		.is-open & {
				opacity: 1;
				height: auto;
				margin-top: 0;
		}
}

.accordion--content {
		visibility: hidden;
		transition: .2s ease-in;
		.is-open & {
				visibility: visible;
		}
}