table {
		border-collapse: collapse;
		width: 100%;
}

.table-scroll {
		display: block;
		overflow-x: auto;
		white-space: nowrap;
}


/**
 * Foundation
 */

@include -zf-table-stripe;
@include -zf-table-children-styles;
table {
		th {
				text-align: center;
		}
		&.stack {
				@include breakpoint($table-stack-breakpoint down) {
						@include table-stack;
				}
		}
}